<%= form_for @airplane do |f| %>
<fieldset>
<%= f.label :name %>
<%= f.text_field :name, :autofocus => true  %>
</fieldset>

<fieldset>
  <%= f.label :engine %>
  <%= f.text_field :engine %>
</fieldset>

<fieldset>
  <%= f.label :speed, " Top Speed (km/hour)"  %>
  <%= f.number_field :speed%>
</fieldset>

<fieldset>
  <%= f.label :passenger %>
  <%= f.text_field :passenger %>
</fieldset>

<fieldset>
  <%= f.label :weight, "Tonnes (without passenger)" %>
  <%= f.number_field :weight  %>
</fieldset>

<fieldset>
  <%= f.label :image %>
  <%= f.url_field :image %>
</fieldset>
<fieldset>
  <label></label>
  <%= f.submit %>
</fieldset>


<% end %>
