<h1>All Airplanes</h1>
 <%= image_tag "aviation-specials-plane-taking-off.jpg", :class => 'bgimg' %>
<% @airplanes.each do |airplane| %>
 <%= image_tag airplane.image, :class => 'thumb' unless airplane.image.nil?%>

 <ul>
   <li>Name: <%= link_to airplane.name, airplane %></li>
   <li>Engine: <%= airplane.engine %></li>
   <li>Maxiumn Speed: <%=  airplane.speed %></li>
   <li>Maxiumn Passenger: <%= airplane.passenger %></li>
   <li>Weight without passenger: <%= airplane.weight %></li>
 </ul>



<% end %>
