
<div class="headlinesmall">
  <h1><%= @airplane.name %></h1>
</div>

  <% unless @airplane.image.nil? %>
  <%= image_tag @airplane.image, :class => 'feature' %>
  <% end %>

<div class="showbox">
<p><strong>Name: </strong><%= @airplane.name %></p>
<p><strong>Engine: </strong><%= @airplane.engine %></p>
<p><strong>Top speed </strong>(km/hr): <%= @airplane.speed %></p>
<p><strong>Passenger carry: </strong><%= @airplane.passenger %></p>
<p><strong>Weight </strong>(without passenger): <%= number_with_delimiter(@airplane.weight, :delimiter => ',' )%>
ton</p>

  <div class="controls">
    <%= link_to "Edit airplane",edit_airplane_path(@airplane) %>
    <%= link_to "Delete airplane", @airplane,:method => :delete, :data => {:confirm => 'Are you sure?'} %>
</div>
</div>
